<SystemOptions>
	<MailTo/>
	<HTMLRole>3</HTMLRole>
	<CompactEmail>false</CompactEmail>
	<QueryOnInit>true</QueryOnInit>
	<PCatchUp>false</PCatchUp>
	<PGracePeriod>600</PGracePeriod>
	<WaitBusyReading>true</WaitBusyReading>
	<NTPHost>pool.ntp.org</NTPHost>
	<NTPActive>true</NTPActive>
	<NTPEnabled>true</NTPEnabled>
	<NTPInterval>86400</NTPInterval>
</SystemOptions>
