<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MSKit-OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>MSKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C264335318157B45005E0105</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C268299E18257EDC0026A520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C26829AE18257EDC0026A520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2989A9F182550F600E8DCBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2989AB4182550F600E8DCBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2CE884D18138C4900555D63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2CE885D18138C4900555D63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
