<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>--keep-intermediate-files</key>
	<true/>
	<key>--print-settings</key>
	<true/>
	<key>--repeat-first-par</key>
	<false/>
	<key>--verbose</key>
	<string>xcode</string>
	<key>--keep-merged-sections</key>
	<true/>
	<key>--include</key>
	<array>
		<string>/Users/Moondeer/Projects/IR-Remote/source/iPhonto/Notes</string>
	</array>
	<key>--project-company</key>
	<string>Moondeer Studios</string>
	<key>--project-name</key>
	<string>iPhonto</string>
	<key>--company-id</key>
	<string>com.moondeerstudios</string>
	<key>--logformat</key>
	<string>xcode</string>
	<key>--templates</key>
	<string>/Users/Moondeer/Projects/IR-Remote/source/Templates</string>
	<key>--output</key>
	<string>/Users/Moondeer/Projects/IR-Remote/documentation</string>
</dict>
</plist>
