<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>groups</key>
	<array>
		<string>Panel Menu Guide</string>
		<string>Panel Home Page</string>
		<string>Entry-7</string>
		<string>Modern Black</string>
	</array>
</dict>
</plist>
