<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.moondeerstudios.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Frameworks/Bank.framework/Apple Symbols.ttf</string>
		<string>Frameworks/Bank.framework/AdobePiStd.otf</string>
		<string>Frameworks/Bank.framework/Fico.otf</string>
		<string>Frameworks/Bank.framework/modernpics.otf</string>
		<string>Frameworks/Bank.framework/gui_design_icons.otf</string>
		<string>Frameworks/Bank.framework/iconSweets.otf</string>
		<string>Frameworks/Bank.framework/iconic_fill.otf</string>
		<string>Frameworks/Bank.framework/iconic_stroke.otf</string>
		<string>Frameworks/Bank.framework/glyphish.ttf</string>
		<string>Frameworks/Bank.framework/Type Dynamic - Elysio Black Italic.otf</string>
		<string>Frameworks/Bank.framework/Type Dynamic - Elysio Black.otf</string>
		<string>Frameworks/Bank.framework/Type Dynamic - Elysio Bold Italic.otf</string>
		<string>Frameworks/Bank.framework/Type Dynamic - Elysio Bold.otf</string>
		<string>Frameworks/Bank.framework/Type Dynamic - Elysio Hairline Italic.otf</string>
		<string>Frameworks/Bank.framework/Type Dynamic - Elysio Hairline.otf</string>
		<string>Frameworks/Bank.framework/Type Dynamic - Elysio Light Italic.otf</string>
		<string>Frameworks/Bank.framework/Type Dynamic - Elysio Light.otf</string>
		<string>Frameworks/Bank.framework/Type Dynamic - Elysio Medium Italic.otf</string>
		<string>Frameworks/Bank.framework/Type Dynamic - Elysio Medium.otf</string>
		<string>Frameworks/Bank.framework/Type Dynamic - Elysio Regular Italic.otf</string>
		<string>Frameworks/Bank.framework/Type Dynamic - Elysio Thin Italic.otf</string>
		<string>Frameworks/Bank.framework/Type Dynamic - Elysio Thin.otf</string>
		<string>Frameworks/Bank.framework/Type Dynamic - Elysio.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
