<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreDataLogicTests-Magical/In-memory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>CoreDataLogicTests-Magical/Persistent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>CoreDataLogicTests-Main/In-memory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>CoreDataLogicTests-Main/Persistent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>DataModel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ISYClient.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Remote.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RemoteData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>iTachClient.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C203B5A11725D6CC002FD3EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C203B6331725DC4E002FD3EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C203BBBE1726EBD6002FD3EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C215CBFE1ABB102F00E8077E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C215CC081ABB102F00E8077E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C25B271E180B70BF0078C8D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C26BAEA716DC10FE0093D5B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C26BAECC16DC10FE0093D5B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C28FD57B171C65BB008560E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2C482C219C9F968002E84A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2C54D5D171DA93800E01E82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2CA766319BA099000ACCD76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2CA768E19BA1E1800ACCD76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2CA76AC19BA1E1900ACCD76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2D87CD4171A3AFB00E61287</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2F940F619BE5E90007B5CC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2F9411219BE5E90007B5CC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
