<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bank.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>BankApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>CoreDataLogicTests-Magical/In-memory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>CoreDataLogicTests-Magical/Persistent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>CoreDataLogicTests-Main/In-memory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>CoreDataLogicTests-Main/Persistent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>DataModel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>DataModelApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>DataModelTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>DataModelTests_Interdependent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Elysio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>Glyphish.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>ISYClient.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>LearnerApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>Networking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>Remote.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>RemoteSettings.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Settings.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>UI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>UIApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>iTachClient.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C203B5A11725D6CC002FD3EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C203B6331725DC4E002FD3EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C203BBBE1726EBD6002FD3EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C215CBFE1ABB102F00E8077E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C215CC081ABB102F00E8077E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2194A5D1AFE4FF1009B19B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2194A671AFE4FF1009B19B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C233E5861AE9412A00B0FD63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C233E59A1AE9412A00B0FD63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C24A059C1AE5806100C9255E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C24A05A61AE5806200C9255E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C24A05D01AE5C65C00C9255E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C24A05DA1AE5C65C00C9255E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C24A06031AE5CB4800C9255E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C24A060D1AE5CB4900C9255E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C253B2E51AD9D12800F7E6AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C25B271E180B70BF0078C8D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C26BAEA716DC10FE0093D5B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C26BAECC16DC10FE0093D5B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C27952E51AFE74BD00F72C80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C27952EF1AFE74BD00F72C80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C28E98F21AD1A4B000E78711</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C28FD57B171C65BB008560E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C293C7431AC3164700408D35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C293C74D1AC3164700408D35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2B691501AFBB1A60041CE11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2B691641AFBB1A70041CE11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2C482C219C9F968002E84A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2C54D5D171DA93800E01E82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2CA766319BA099000ACCD76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2CA768E19BA1E1800ACCD76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2CA76AC19BA1E1900ACCD76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2D87CD4171A3AFB00E61287</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2E9F3E61ABC9797007581F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2E9F3FA1ABC9797007581F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2F4C58A1AC6E95300DB3695</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2F4C59E1AC6E95300DB3695</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2F940F619BE5E90007B5CC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2F9411219BE5E90007B5CC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
