<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreDataLogicTests copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>CoreDataLogicTests-Magical/In-memory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>CoreDataLogicTests-Magical/Persistent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>CoreDataLogicTests-Main/In-memory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>CoreDataLogicTests-Main/Persistent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>CoreDataLogicTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>CoreDataPersistentLogicTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>CoreDataTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>DatabaseConstructionTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Remote -loadData -simulate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Remote -loadData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Remote -rebuildRemote -simulate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Remote -rebuildRemote.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Remote -simulate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Remote -uitest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Remote.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C203B5A11725D6CC002FD3EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C203B6331725DC4E002FD3EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C203BBBE1726EBD6002FD3EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C26BAEA716DC10FE0093D5B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C26BAECC16DC10FE0093D5B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C28FD57B171C65BB008560E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2C54D5D171DA93800E01E82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2D87CD4171A3AFB00E61287</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
