<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FoundWorkingCopyPaths</key>
	<array>
		<string>/Users/Moondeer/Projects/Frameworks/MSKit</string>
		<string>/Users/Moondeer/Projects/Frameworks/Lumberjack</string>
		<string>/Users/Moondeer/Projects/Frameworks/MagicalRecord</string>
		<string>/Users/Moondeer/Projects/MSRemoteWorkspace/Remote</string>
	</array>
	<key>LastWorkingCopyScanDate</key>
	<date>2013-04-16T14:09:49Z</date>
	<key>MissingFilePaths</key>
	<array>
		<string>/Users/Moondeer/Projects/MSRemoteWorkspace/Remote/Remote/Source/Commands/CommandDelegate.h</string>
	</array>
	<key>Version</key>
	<integer>4</integer>
</dict>
</plist>
