<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lumberjack.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A37F97618E37270009FAAA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A37F9D918E37536009FAAA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C230F8AE19A7CBD400900F0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C230F8BB19A7CBD400900F0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C23A0F2E19A7B46F002BF2B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C23A0F3C19A7B470002BF2B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2A63738181354A800E361A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2CBD50A198867F500183F40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2CBD514198867F500183F40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC58E48714DC70CF006B16E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC58E4C014DC8BE2006B16E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
